$purple: #635FC7;
$light-purple: #A8A4FF;
$black: #000112;
$dark-gray-black: #20212C;
$gray-black: #2B2C37;
$dark-gray: #3E3F4E;
$gray: #828FA3;   
$light-gray: #E4EBFA;     
$very-light-gray: #F4F7FD; 
$white: #FFFFFF;          
$red: #EA5555;    
$light-red: #FF9898;     